@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Fira+Sans:wght@500&family=Poppins&family=Public+Sans&display=swap');   
@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.cdnfonts.com/css/arial-rounded-mt-bold');

.Regulation{
    background-color: $darkThemeColor;
    width:90%;
    padding:2em;
    @include center;
    margin: auto;
    padding: 5em;
    color:$white;
    border-radius: 4em;
    margin-top:$margin;
    margin-bottom:$margin+20px;
    
    p{
        font-family:'Arial Rounded MT Bold', sans-serif;
        padding-bottom:2em;
        line-height:2em;
        font-size: 1em;
        font-weight: 200;
    }
    h1{
        font-family: 'Futura PT', sans-serif;
    }
    h2{
        padding-bottom:1em;
        font-family: 'Futura PT', sans-serif;
        
    }

}